**/.DS_Store
/cache/
/out/
/target/
/build/
/scripts/bin
/data/
/scripts/.venv
XPDebuggingTools.jar
X
/Modules
src/main/resources/SpotifyXP-Updater.jar
ExternalDebugger.jar
access_token
.idea/
.classpath
.project
qodana.yaml
SpotifyXP.iml
ToDo
/src/main/java/com/spotifyxp/deps/org/
/src/main/java/com/spotifyxp/deps/de/werwolf2303/javasetuptool
/src/main/java/com/spotifyxp/deps/uk
/src/main/resources/vlc