button {
    background-color:greenyellow;
    width:300px;
    height:40px
}
body {
    margin: 0;
}
#spotifyxp {
    position: absolute;
    margin-top: 5px;
    margin-left: 45px;
}
#nametoload {
    position: absolute;
    margin-left: 100px;
    margin-top: -11px;
    width: 183px;
}
#controls {
    position: absolute;
    margin-top: 33px;
}
#nametoloadlabel {
    position: absolute;
    margin-left: 5px;
    margin-top: -10px;
}
#tosearch {
    position: absolute;
    margin-left: 100px;
    margin-top: 10px;
    width: 183px;
}
#tosearchlabel {
    position: absolute;
    margin-left: 18px;
    margin-top: 13px;
}
#searchsong {
    position: absolute;
    margin-left: 15px;
    margin-top: 2px;
}
#searchsonglabel {
    position: absolute;
    margin-left: 35px
}
#searchepisode {
    position: absolute;
    margin-left: 130px;
    margin-top: 2px;
}

#searchepisodelabel {
    position: absolute;
    margin-left: 150px;
}