.menu .label {
   -fx-text-fill: white;
}
.menu {
   gap: 2px;
}
.text-input {

   -fx-text-fill: #A0A0A0;
}
.scroll-bar:horizontal {
   -fx-background-color:transparent;
}
.scroll-bar:horizontal .track {
   -fx-background-color: black;
}
.noheader .column-header-background {
   -fx-max-height: 0;
   -fx-pref-height: 0;
   -fx-min-height: 0;
}
.musicprogress .track {
   -fx-background-color: linear-gradient(to right, #1DB954 20%, #404040 20%);
}
.volumebar .track {
   -fx-background-color: linear-gradient(to right, #A0A0A0 20%, #404040 20%);
}